.MovieList {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Button {
    display: flex;
    justify-content: space-evenly;
}

.Button > button {
    margin: 10px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}